---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app pgadmin
  namespace: flux-system
spec:
  targetNamespace: database
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/database/pgadmin/app
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  dependsOn:
    - name: external-secrets-stores
    - name: volsync
    - name: cloudnative-pg-cluster
  postBuild:
    substitute:
      APP: *app
      APP_UID: "5050"
      APP_GID: "5050"
      VOLSYNC_CLAIM: pgadmin-config
      VOLSYNC_CAPACITY: 1Gi
  prune: true
  wait: false
  interval: 31m
  timeout: 5m