---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: frigate
spec:
  # refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: frigate-secret
    creationPolicy: Owner
    template:
      data:
        FRIGATE_DOORBELL_IP: 10.1.4.12
        FRIGATE_DOORBELL_USERNAME: "{{ .reolink_frigate_username }}"
        FRIGATE_DOORBELL_PASSWORD: "{{ .reolink_frigate_password }}"
  dataFrom:
    - extract:
        key: ReolinkCams
      rewrite:
        - regexp:
            source: "(.*)"
            target: "reolink_$1"
