---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
spec:
  chartRef:
    kind: OCIRepository
    name: frigate
  interval: 31m
  values:
    controllers:
      frigate:
        pod:
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: frigate-gpu
          tolerations:
            - key: dedicated
              operator: Equal
              value: gpu
              effect: NoSchedule
            - key: dedicated
              operator: Equal
              value: gpu
              effect: NoExecute
          nodeSelector:
            gpu: intel
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.16.4@sha256:1f8dbaaa4c7c2855c2aef711842d13b0c20bfdc3f28ad88faf66aa1bc219b108
            envFrom:
              - secretRef:
                  name: frigate-secret
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: 5000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 200m
                memory: 1Gi
              limits:
                memory: 6Gi
    service:
      frigate:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.30.6.46
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: 5000
          go2rtc:
            primary: true
            port: 1984
          rtsp:
            port: 8554
          webrtc-tcp:
            port: 8555
            protocol: TCP
          webrtc-udp:
            port: 8555
            protocol: UDP
    persistence:
      # config:
      #   existingClaim: frigate
      # config-file:
      #   type: secret
      #   name: frigate-secrets
      #   globalMounts:
      #     - path: /config/config.yaml
      #       subPath: config.yaml
      config:
        type: nfs
        path: /mnt/Data1/frigate/config
        server: nas.internal
        globalMounts:
          - path: /config
      media:
        type: nfs
        path: /mnt/Data1/frigate/data
        server: nas.internal
        globalMounts:
          - path: /media/frigate
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        globalMounts:
          - path: /dev/shm
      tmpfs:
        type: emptyDir
        advancedMounts:
          frigate:
            app:
              - path: /tmp
                subPath: tmp
    route:
      frigate:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Frigate
          gethomepage.dev/group: Home Automation
          gethomepage.dev/icon: si-frigate.svg
          gethomepage.dev/name: Frigate
          gethomepage.dev/app: frigate
        hostnames:
          - frigate.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network

        rules:
          - backendRefs:
              - identifier: frigate
                port: 5000
      go2rtc:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Frigate Go2RTC
          gethomepage.dev/group: Home Automation
          gethomepage.dev/icon: si-frigate.svg
          gethomepage.dev/name: Frigate Go2RTC
          gethomepage.dev/app: frigate_go2rtc
        hostnames:
          - frigate-go2rtc.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network

        rules:
          - backendRefs:
              - identifier: frigate
                port: 1984
