---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  interval: 30m
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
              - home-ops-02
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |-
              [{
                "name": "multus-vpn",
                "namespace": "network",
                "ips": ["10.30.212.10/16"],
                "mac": "2e:54:30:22:3f:74"
              }]
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4
            env:
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: 51478
            nameOverride: qbittorrent
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 200m
                memory: 1Gi
              limits:
                memory: 6Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
              runAsGroup: 2000
              runAsNonRoot: true
              runAsUser: 2000
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: qbittorrent
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
      downloads:
        type: nfs
        path: /mnt/Data1/MediaServer
        server: nas.internal
        globalMounts:
          - path: /data/nas-media/Downloads/qbittorrent
            subPath: Downloads/qbittorrent
      tmp:
        type: emptyDir
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Torrent Client
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: qbittorrent.png
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/app: qbittorrent

        hostnames:
          - qbittorrent.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
