# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
/secrets.yaml
# Template config files
/cluster.yaml
/nodes.yaml
# Kubernetes
kubeconfig
talosconfig
# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db
.trunk/
.krew/bin/kubectl-krew
.kube/cache/discovery/home_ops.internal_6443/servergroups.json
.kube/cache/discovery/home_ops.internal_6443/acme.cert-manager.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/actions.github.com/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/admissionregistration.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/admissionregistration.k8s.io/v1beta1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/apiextensions.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/apiregistration.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/apps/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/authentication.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/authorization.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/autoscaling/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/autoscaling/v2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/batch/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/ceph.rook.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/cert-manager.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/certificates.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/cilium.io/v2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/cilium.io/v2alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/coordination.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/csi.ceph.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/csi.ceph.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/discovery.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/dragonflydb.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/eventing.keda.sh/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/events.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/external-secrets.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/external-secrets.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/externaldns.k8s.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/flowcontrol.apiserver.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/fluxcd.controlplane.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/gateway.envoyproxy.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/gateway.networking.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/gateway.networking.k8s.io/v1alpha2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/gateway.networking.k8s.io/v1alpha3/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/gateway.networking.k8s.io/v1beta1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/gateway.networking.x-k8s.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/generators.external-secrets.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/groupsnapshot.storage.k8s.io/v1beta1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/groupsnapshot.storage.k8s.io/v1beta2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/helm.toolkit.fluxcd.io/v2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/helm.toolkit.fluxcd.io/v2beta2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/k8s.cni.cncf.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/keda.sh/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/kustomize.toolkit.fluxcd.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/kustomize.toolkit.fluxcd.io/v1beta2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/metrics.k8s.io/v1beta1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/monitoring.coreos.com/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/monitoring.coreos.com/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/monitoring.giantswarm.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/networking.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/node.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/notification.toolkit.fluxcd.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/notification.toolkit.fluxcd.io/v1beta2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/notification.toolkit.fluxcd.io/v1beta3/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/objectbucket.io/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/observability.giantswarm.io/v1alpha2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/policy/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/postgresql.cnpg.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/rbac.authorization.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/renovate-operator.mogenius.com/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/resource.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/scheduling.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/snapshot.storage.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/source.toolkit.fluxcd.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/source.toolkit.fluxcd.io/v1beta2/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/storage.k8s.io/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/talos.dev/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/tuppr.home-operations.com/v1alpha1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/v1/serverresources.json
.kube/cache/discovery/home_ops.internal_6443/volsync.backube/v1alpha1/serverresources.json
.kube/cache/http/8ef7c54079638618441a33ccabff6cffa95b88424fadd8e74322805293fbb5cd
.kube/cache/http/41f1a94897df2f5d34bbfafe24313c907316f00bc9c61850703318b0a3a12bc4
.kube/cache/http/53c0fe7db089889b5a278abc1e291c055216f169519e8ae013bb1cbaca3de37e
.kube/cache/http/78c124c45d8642e358b5d19e5ef2c6861ca3e481bc172a88ae81d8444e8de8a2
