version: v1alpha1
machine:
    type: worker
    token: 6x0odc.5vpcx6ryjuj5lcky
    ca:
        crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJQekNCOHFBREFnRUNBaEVBcktkZERNSDVLY2MxTERJalRscE5jVEFGQmdNclpYQXdFREVPTUF3R0ExVUUKQ2hNRmRHRnNiM013SGhjTk1qVXhNakkwTVRZMU5ERTNXaGNOTXpVeE1qSXlNVFkxTkRFM1dqQVFNUTR3REFZRApWUVFLRXdWMFlXeHZjekFxTUFVR0F5dGxjQU1oQU9HK1Q5Qk5sc0R5cks5dE51aGJsTGN5WEdOczl2Tm9nN3lOClBndmVxcU4rbzJFd1h6QU9CZ05WSFE4QkFmOEVCQU1DQW9Rd0hRWURWUjBsQkJZd0ZBWUlLd1lCQlFVSEF3RUcKQ0NzR0FRVUZCd01DTUE4R0ExVWRFd0VCL3dRRk1BTUJBZjh3SFFZRFZSME9CQllFRkNNcmxDbVJJUStlMXNsSwpRaGhhc3NFZG5qSjNNQVVHQXl0bGNBTkJBQkxsMHdEa2txUVZmczQ4YVY4VVBqQ0lxV3RZWS9GVHZibWpWZk5JClRBUXpsUVlud0NPY0V2ZjlTZ0Z1TTdiQ0NPOHlhdzg5cFVTMFVUVkhqWmJiOFFjPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
        key: ""
    certSANs:
        - 127.0.0.1
        - 10.30.60.50
        - home-ops.internal
        - home-ops-03.internal
    kubelet:
        image: ghcr.io/siderolabs/kubelet:v1.35.0
        extraArgs:
            register-with-taints: dedicated=gpu:PreferNoSchedule
        extraConfig:
            maxPods: 150
            serializeImagePulls: false
        defaultRuntimeSeccompProfileEnabled: true
        nodeIP:
            validSubnets:
                - 10.30.0.0/16
        disableManifestsDirectory: true
    network:
        hostname: home-ops-03
        interfaces:
            - deviceSelector:
                hardwareAddr: bc:24:11:13:34:3e
              addresses:
                - 10.30.4.4/16
              routes:
                - network: 0.0.0.0/0
                  gateway: 10.30.0.1
              mtu: 1500
              dhcp: false
        nameservers:
            - 10.30.0.3
        disableSearchDomain: true
    install:
        disk: /dev/sda
        image: factory.talos.dev/nocloud-installer/cb46201fc4fbbdbb2d858749954b5207bb1a168c63b04881a24fccdfccd587d7:v1.12.1
        wipe: false
    files:
        - content: |-
            [plugins]
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false
            [plugins."io.containerd.cri.v1.runtime"]
              cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
              device_ownership_from_security_context = true
          permissions: 0o0
          path: /etc/cri/conf.d/20-customization.part
          op: create
        - content: |
            [ NFSMount_Global_Options ]
            nfsvers=4.2
            hard=True
            noatime=True
            nconnect=16
          permissions: 0o644
          path: /etc/nfsmount.conf
          op: overwrite
    sysctls:
        fs.inotify.max_user_instances: "8192"
        fs.inotify.max_user_watches: "1048576"
        net.core.rmem_max: "67108864"
        net.core.wmem_max: "67108864"
        net.ipv4.neigh.default.gc_thresh1: "4096"
        net.ipv4.neigh.default.gc_thresh2: "8192"
        net.ipv4.neigh.default.gc_thresh3: "16384"
        net.ipv4.tcp_fastopen: "3"
        user.max_user_namespaces: "11255"
    features:
        rbac: true
        apidCheckExtKeyUsage: true
        diskQuotaSupport: true
        kubePrism:
            enabled: true
            port: 7445
        hostDNS:
            enabled: true
            forwardKubeDNSToHost: true
            resolveMemberNames: true
    kernel:
        modules:
            - name: nbd
            - name: i915
    nodeLabels:
        gpu: intel
        gpu.intel.com/i915: "true"
        topology.kubernetes.io/zone: m
cluster:
    id: GyrY8ct3T9oDoE4EHYXnGWLo0Z9el0MHZbz4bEwHYBY=
    secret: 73zf8DooWldCLkuo3bKtrqSiDpk2yYA3PPxT2loJvg0=
    controlPlane:
        endpoint: https://home-ops.internal:6443
    clusterName: home-ops
    network:
        cni:
            name: none
        dnsDomain: cluster.local
        podSubnets:
            - 10.244.0.0/16
        serviceSubnets:
            - 10.96.0.0/12
    token: z1cd7x.wy5sv88tm0accl9h
    ca:
        crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJpVENDQVMrZ0F3SUJBZ0lRSUhvNTNhMTREb1pUVFpuUU52SG9oakFLQmdncWhrak9QUVFEQWpBVk1STXcKRVFZRFZRUUtFd3ByZFdKbGNtNWxkR1Z6TUI0WERUSTFNVEl5TkRFMk5UUXhOMW9YRFRNMU1USXlNakUyTlRReApOMW93RlRFVE1CRUdBMVVFQ2hNS2EzVmlaWEp1WlhSbGN6QlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VICkEwSUFCTlNuSU5XTHhqYlBaU2dTN1dzM2pielBUNml3ZkZvblF0MVFtVHdRVkVZeHBBOFdNdEl0aUE4MkpjZS8KVTBCbVFWS3JHNjNDNmZORVY5NUZtdnNSbTYyallUQmZNQTRHQTFVZER3RUIvd1FFQXdJQ2hEQWRCZ05WSFNVRQpGakFVQmdnckJnRUZCUWNEQVFZSUt3WUJCUVVIQXdJd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVVteUJCUSsyeC80MnkxTG9tSTlZOHJzVEFlMzB3Q2dZSUtvWkl6ajBFQXdJRFNBQXdSUUloQU1YQmlsczYKcHcwSi9kSCszU3lHQkpkVWl5b3FMRnRJcVNXZDZodisvczRSQWlCbEtDdURqWkZzYnZhTUxDTGpZUHpoanNPZgp1d2dFWG9ZNHJsRFFQTTczcnc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
        key: ""
    discovery:
        enabled: true
        registries:
            kubernetes:
                disabled: true
            service:
                disabled: false
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m0s
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
    diskSelector:
        match: system_disk
    maxSize: 60GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
    diskSelector:
        match: system_disk
    maxSize: 100GiB

