---
# HTTPRoute to accept the OAuth2 callback at the internal-auth gateway
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: envoy-int-auth-callback
  namespace: network
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: Envoy internal auth callback route
spec:
  hostnames:
    - envoy-int-auth.${SECRET_DOMAIN}
  parentRefs:
    - name: envoy-internal-auth
      namespace: network
  rules:
    - matches:
      - path:
        type: PathPrefix
        value: /oauth2/callback
      backendRefs:
        - name: echo-server
          namespace: network
          port: 8080
