---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - files:
      - ./resources/config.yaml
    name: gatus-configmap
generatorOptions:
  disableNameSuffixHash: true
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./prometheusrule.yaml
  - ./ocirepository.yaml
