---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sabnzbd
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: sabnzbd-secret
    creationPolicy: Owner
  data:
    - secretKey: api_key
      remoteRef:
        key: sabnzbd
        property: api_key
    - secretKey: nzb_key
      remoteRef:
        key: sabnzbd
        property: nzb_key
    - secretKey: xseed_api_key
      remoteRef:
        key: cross-seed
        property: api_key
