---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mylar
spec:
  chartRef:
    kind: OCIRepository
    name: mylar
  interval: 30m
  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - home-ops-00
                - home-ops-02

    controllers:
      mylar:
        labels:
          nfsMount: "true"
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/mylar3
              tag: version-v0.7.6@sha256:0dbc84954e0b3d13cf42f5b1f42e845cb0d211d9d627642e5b9101a49cb6c0b0
            env:
              TZ: ${TIMEZONE}
              UID: 1000
              GID: 1000
            resources:
              requests:
                cpu: 15m
                memory: 700M
              limits:
                memory: 1200M

    service:
      app:
        controller: mylar
        ports:
          http:
            port: 8090

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Comic Downloads
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: mylar.png
          gethomepage.dev/name: Mylar
          gethomepage.dev/app: mylar
          gethomepage.dev/widget.type: mylar
          gethomepage.dev/widget.url: "http://mylar.downloads.svc.cluster.local:8090"
        hostnames:
          - mylar.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: mylar
      data:
        type: nfs
        server: nas.internal
        path: /mnt/Data1/MediaServer
        globalMounts:
          - path: /data
