---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  chartRef:
    kind: OCIRepository
    name: filebrowser
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      filebrowser:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/filebrowser/filebrowser
              tag: v2.32.1@sha256:4f8002627d444779c086f6a0dbd4d1f8692676605d0951753831d7d162016459
            env:
              TZ: Europe/Madrid
              FB_DATABASE: /config/filebrowser.db
              FB_ROOT: /data
              FB_LOG: stdout
              FB_NOAUTH: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: filebrowser
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: FileBrowser
          gethomepage.dev/group: Kubernetes
          gethomepage.dev/icon: si-filedotio.svg
          gethomepage.dev/name: FileBrowser
          gethomepage.dev/app: filebrowser
        hostnames:
          - "filebrowser.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: filebrowser
                port: *port

    persistence:
      config:
        existingClaim: filebrowser
      mediadata:
        type: nfs
        server: 10.30.10.11
        path: /mnt/Data1/MediaServer
        globalMounts:
          - path: /data/MediaServer
      scannedfiles:
        type: nfs
        server: 10.30.10.11
        path: /mnt/Data1/ScannedFiles
        globalMounts:
          - path: /data/OnedriveScan
      paperless:
        type: nfs
        server: 10.30.10.11
        path: /mnt/Data1/Documents
        globalMounts:
          - path: /data/Paperless
      kopia:
        type: nfs
        server: 10.30.10.11
        path: /mnt/Data1/kubernetes
        globalMounts:
          - path: /data/kubernetes
