---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chart:
    spec:
      chart: authentik
      interval: 5m
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: selfhosted
      version: 2025.10.2
  install:
    remediation:
      retries: 3
  interval: 25m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    authentik:
      redis:
        host: dragonfly.database.svc.cluster.local
    global:
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: &secret authentik-secret
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
    server:
      replicas: 1
      pdb:
        enabled: false
        minAvailable: 1
        maxUnavailable: 1
      dnsConfig:
        options:
          - name: ndots
            value: "2"
      initContainers:
        - envFrom:
            - secretRef:
                name: *secret
          image: ghcr.io/rafaribe/postgres-init:16
          name: init-db
      route:
        main:
          enabled: true
          hostnames:
            - sso.${SECRET_DOMAIN}
          annotations:
            external-dns.alpha.kubernetes.io/target: ingress-ext.${SECRET_DOMAIN}
            gethomepage.dev/enabled: "true"
            gethomepage.dev/description: Authentik
            gethomepage.dev/group: infrastructure
            gethomepage.dev/icon: si-grafana.svg
            gethomepage.dev/name: SSO
            gethomepage.dev/app: authentik
          parentRefs:
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: envoy-internal
              namespace: network
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: envoy-external
              namespace: network
              sectionName: https
      metrics:
        serviceMonitor:
          enabled: true
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          memory: 2Gi
    worker:
      replicas: 1
      serviceAccount:
        create: true
      pdb:
        enabled: false
        minAvailable: 1
        maxUnavailable: 1
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 1.5Gi
    prometheus:
      rules:
        enabled: true

    postgresql:
      enabled: false
    redis:
      enabled: false
