---
apiVersion: v1
kind: Service
metadata:
  name: proxmox-proxy-service
  namespace: external-ingresses
spec:
  sessionAffinity: ClientIP
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8006
      name: https
---
apiVersion: v1
kind: Endpoints
metadata:
  name: proxmox-proxy-service # Must be equal to Service name for automatic mapping
  namespace: external-ingresses
subsets:
  - addresses:
      - ip: 10.30.3.1 # Proxmox node 1
      - ip: 10.30.3.2 # Proxmox node 2 (update with your actual IP)
      - ip: 10.30.3.3 # Proxmox node 3 (update with your actual IP)
      - ip: 10.30.3.4
    ports:
      - port: 8006
---
# Gateway for proxmox (replaces Ingress)
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: proxmox-gateway
  namespace: external-ingresses
spec:
  gatewayClassName: internal-nginx
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
        kinds:
          - kind: HTTPRoute

---
# HTTPRoute for proxmox
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxmox-route
  namespace: external-ingresses
spec:
  parentRefs:
    - name: proxmox-gateway
  hostnames:
    - "proxmox.${SECRET_DOMAIN}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: proxmox-proxy-service
          port: 80
          weight: 1
#  tls:
#  - hosts:
#      - proxmox.${SECRET_DOMAIN}
#    secretName: "${SECRET_DOMAIN/./-}-production-tls"
