---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant-proxy-service
  namespace: external-ingresses
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8123
      name: http
---
apiVersion: v1
kind: Endpoints
metadata:
  name: homeassistant-proxy-service # Must be equal to Service name for automatic mapping
  namespace: external-ingresses
subsets:
  - addresses:
      - ip: 10.30.10.17 # IP address of your external service that you would like to proxy requests to
    ports:
      - port: 8123
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homeassistant-proxy-ingress
  namespace: external-ingresses
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "env-external.${SECRET_DOMAIN}"
    nginx.ingress.kubernetes.io/rewrite-target: /
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: Homeassistant
    gethomepage.dev/group: Home Automation
    gethomepage.dev/icon: si-homeassistant.svg
    gethomepage.dev/name: Homeassistant
    gethomepage.dev/showStats: "false"
spec:
  ingressClassName: external-nginx
  rules:
    - host: ha.${SECRET_DOMAIN}
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: homeassistant-proxy-service
                port:
                  number: 80
