---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant-proxy-service
  namespace: external-ingresses
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8123
      name: http
---
apiVersion: v1
kind: Endpoints
metadata:
  name: homeassistant-proxy-service # Must be equal to Service name for automatic mapping
  namespace: external-ingresses
subsets:
  - addresses:
      - ip: 10.30.10.17 # IP address of your external service that you would like to proxy requests to
    ports:
      - port: 8123
        name: http
---
# HTTPRoute for the ha host
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ha-route
  namespace: external-ingresses
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: HA
    gethomepage.dev/group: Home Automation
    gethomepage.dev/icon: si-homeassistant.svg
    gethomepage.dev/name: HomeAssistant
    gethomepage.dev/app: ha
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
  hostnames:
    - "ha.${SECRET_DOMAIN}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: homeassistant-proxy-service
          port: 80
          weight: 1
