---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant-proxy-service
  namespace: external-ingresses
spec:
  ports:
    - port: 8123
      protocol: TCP
      targetPort: 8123
      name: http
---
apiVersion: v1
kind: Endpoints
metadata:
  name: homeassistant-proxy-service # Must be equal to Service name for automatic mapping
  namespace: external-ingresses
subsets:
  - addresses:
      - ip: 10.30.10.17 # IP address of your external service that you would like to proxy requests to
    ports:
      - port: 8123

---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: homeassistant-passthrough
  namespace: external-ingresses
spec:
  targetRef:
    group: gateway.networking.k8s.io  # Correct group
    kind: HTTPRoute  # Target the HTTPRoute, not the Service
    name: homeasstant-httproute
  # No healthCheck = assume always healthy
---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: homeassistant-proxy-ingress
#   namespace: external-ingresses
#   annotations:
#     external-dns.alpha.kubernetes.io/hostname: "ingress-ext.${SECRET_DOMAIN}"
#     nginx.ingress.kubernetes.io/rewrite-target: /
#     gethomepage.dev/enabled: "true"
#     gethomepage.dev/description: Homeassistant
#     gethomepage.dev/group: Home Automation
#     gethomepage.dev/icon: si-homeassistant.svg
#     gethomepage.dev/name: Homeassistant
#     gethomepage.dev/showStats: "false"
# spec:
#   ingressClassName: external-nginx
#   rules:
#     - host: ha.ext.${SECRET_DOMAIN}
#       http:
#         paths:
#           - path: /
#             pathType: ImplementationSpecific
#             backend:
#               service:
#                 name: homeassistant-proxy-service
#                 port:
#                   number: 80
---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: homeasstant-httproute
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: Homeassistant
    gethomepage.dev/group: Home Automation
    gethomepage.dev/icon: si-homeassistant.svg
    gethomepage.dev/name: Homeassistant
    gethomepage.dev/showStats: "false"
spec:
  hostnames:
    - ha.${SECRET_DOMAIN}
  parentRefs:
    - name: envoy-external
      namespace: network
  rules:
    - backendRefs:
        - name: homeassistant-proxy-service
          namespace: external-ingresses
          port: 8123
