---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant-proxy-service
  namespace: external-ingresses
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8123
      name: http
---
apiVersion: v1
kind: Endpoints
metadata:
  name: homeassistant-proxy-service # Must be equal to Service name for automatic mapping
  namespace: external-ingresses
subsets:
  - addresses:
      - ip: 10.30.10.17 # IP address of your external service that you would like to proxy requests to
    ports:
      - port: 8123
---
# HTTPRoute for the ha host
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ha-route
  namespace: external-ingresses
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: HA
    gethomepage.dev/group: Home Automation
    gethomepage.dev/icon: si-homeassistant.svg
    gethomepage.dev/name: HomeAssistant
    gethomepage.dev/app: ha
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
      sectionName: http

  hostnames:
    - "ha.${SECRET_DOMAIN}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: homeassistant-proxy-service
          port: 80
          weight: 1

---

# Service without selector for an external Home Assistant instance
apiVersion: v1
kind: Service
metadata:
  name: home-assistant-external
  namespace: home-automation
spec:
  ports:
    - name: http
      port: 8123
      targetPort: 8123
  clusterIP: None

---
# Endpoints pointing to the external IP:port
apiVersion: v1
kind: Endpoints
metadata:
  name: home-assistant-external
  namespace: home-automation
subsets:
  - addresses:
      - ip: 10.30.10.17
    ports:
      - port: 8123
        name: http

---
# HTTPRoute directing ha.jaimenet.com to the external Service
# Uses the existing envoy-internal Gateway's HTTPS listener (allowedRoutes: All)
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: home-assistant-route
  namespace: home-automation
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
      sectionName: https
  hostnames:
    - "ha2.${SECRET_DOMAIN}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: "/"
      backendRefs:
        - name: home-assistant-external
          namespace: home-automation
          port: 8123
