---
machine:
  type: worker
  certSANs:
    - home-ops-03.internal
  nodeLabels:
    topology.kubernetes.io/zone: m
    gpu: intel
    gpu.intel.com/i915: "true"
  install:
    disk: /dev/sda
    image: factory.talos.dev/nocloud-installer/db16e36a8ab5ca2492e10111b8c45f169258e958dd1466f18f9a3d9fcba3bb27:v1.12.4
    wipe: false
  kernel:
    modules:
      - name: i915
  kubelet:
    extraArgs:
      register-with-taints: "dedicated=gpu:NoSchedule"
  network:
    hostname: home-ops-03
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:13:34:3e
        addresses:
          - 10.30.4.4/16
        routes:
          - network: 0.0.0.0/0
            gateway: 10.30.0.1
        mtu: 1500
        dhcp: false
    nameservers:
      - 10.30.0.3
    disableSearchDomain: true

---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 60GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 100GiB
