---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
  install:
    disk: /dev/sda
    image: factory.talos.dev/nocloud-installer/1e4d1718c9a9b52ad1ad0c886d015dce98f071692b9003280ade6ea395357561:v1.12.0
    wipe: false
  network:
    hostname: home-ops-00
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:83:a2:ff
        addresses:
          - 10.30.4.1/16
        routes:
          - network: 0.0.0.0/0
            gateway: 10.30.0.1
        mtu: 1500
        dhcp: false
        vip:
          ip: 10.30.60.50
    nameservers:
      - 10.30.0.3
    disableSearchDomain: true
