---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app externaldns-pihole
spec:
  chartRef:
    kind: OCIRepository
    name: externaldns-pihole
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    logLevel: &logLevel info
    domainFilters:
      - "${SECRET_DOMAIN}"
    policy: sync
    provider: pihole
    gatewayLabelFilter: gateway-type=internal
    env:
      - name: LOG_LEVEL
        value: *logLevel
      - name: EXTERNAL_DNS_PIHOLE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: &secret external-dns-pihole-secret
            key: password
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    extraArgs:
      - --pihole-server=https://10.30.0.3
      - --ignore-ingress-tls-spec
      - --pihole-tls-skip-verify
      - --gateway-label-filter=gateway-type=internal
      - --pihole-api-version=6
    resources:
      requests:
        cpu: 16m
        memory: 90M
      limits:
        memory: 90M
    serviceMonitor:
      enabled: true
    sources:
      - ingress
      - service
      - gateway-httproute
    triggerLoopOnEvent: true
    txtOwnerId: main
    txtPrefix: "k8s."
