---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: cloudnative-pg
spec:
  interval: 12h
  provider: generic
  ref:
    semver: 0.x
  url: oci://ghcr.io/cloudnative-pg/charts/cloudnative-pg
