context: home-ops
contexts:
  home-ops:
    endpoints:
      - 10.30.50.20
      - 10.30.50.21
      - 10.30.50.22
    nodes:
      - home-ops-00
      - home-ops-01
      - home-ops-02
    ca: op://Home-Ops/talos/MACHINE_CA_CRT
    crt: op://Home-Ops/talos/TALOSCONFIG_CLIENT_CRT
    key: op://Home-Ops/talos/TALOSCONFIG_CLIENT_KEY
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 60GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 140GiB
