---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentik-proxy
  namespace: selfhosted
  labels:
    app: authentik-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentik-proxy
  template:
    metadata:
      labels:
        app: authentik-proxy
      annotations:
        reloader.stakater.com/auto: "true"
    spec:
      containers:
        - name: nginx
          image: nginx:1.29-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-config
          configMap:
            name: authentik-proxy-config
