---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./authentik-proxy-deployment.yaml
  - ./authentik-proxy-service.yaml
  - ./authentik-proxy-configmap.yaml
